mat-toolbar{
    position: relative;
    z-index: 4;
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    /* max-width: 40%;
    min-width: 30%; */
}
th {
    background-color: #f2f2f2;
}