
<mat-toolbar class="mat-elevation-z3" style="background-color: white;padding: 10px;">
  <img src="mingcute_menu-line.svg" style="width:35px;height:35px" alt="">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <img src="Group 21.svg" alt="">
</mat-toolbar>
<br>

<div class="flex pl-80 ">

<mat-form-field class="w-1/2 mr-10" appearance="outline">
  <!-- <mat-label class="mr-96">Please paste link here</mat-label> -->
  <input [(ngModel)]="yturl" matInput placeholder="Please paste link here">

  <mat-icon class="mr-4" matSuffix >search</mat-icon>
</mat-form-field>

<mat-form-field appearance="outline" class="w-32 mr-10 " >
  <mat-select [value]="'youtube'" >
      
    <mat-option [value]="'youtube'">Youtube</mat-option>
    <mat-option [value]="'instagram'">Instagram</mat-option>
    <mat-option [value]="'facebook'">Facebook</mat-option>

  </mat-select>

</mat-form-field>
<!-- <select id="fruits" name="fruits" style="border: 1px solid black; height: 55px;margin-right: 35px;border-radius: 10px;background-color: #ECF3F9;color: black;padding: 6px;">
  <option value="apple" >Facebook</option>
  <option value="banana">Instagram</option>
  <option value="orange">Youtube</option>
</select> -->

<button (click)="onClick()" mat-raised-button style="border-radius: 10px; padding: 28px; background-color: #1791C8;color: white;"><span *ngIf="!loader">Analyze</span>  <img width="35px" *ngIf="loader" src="view-loader.gif" alt="view-loader"></button>

</div>
<br>

<div class="flex pl-80">

<app-card commentTitle="Positive Comments" count={{posiCount}}  class="mr-5"></app-card>
<app-card commentTitle="Negative Comments" count={{negCount}}  class="mr-5"></app-card>
<app-card commentTitle="Neutral Comments" count={{netCount}}  class="mr-5"></app-card>

</div>
<br>
<div class="pl-80" style="display: flex;width: 60%;">
  <canvas id="MyChart">
    {{chart}}
  </canvas>
</div>

<div class="flex flex-col justify-between pl-80">

<div style="overflow-y: auto;height: 250px;">
    <table >
      <caption>Positive</caption>
        <thead>
            <tr>
                <th>Username</th>
                <th>Comment</th>
                <th>Sentiment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of positiveData">
                <td>{{item.username}}</td>
                <td>{{item.comment}}</td>
                <td>{{item.sentiment}}</td>
            </tr>
            
        </tbody>
    </table>
</div>
<br>
<div style="overflow-y: auto;height: 250px;">
  <table >
    <caption>Negative</caption>
      <thead>
          <tr>
              <th>Username</th>
              <th>Comment</th>
              <th>Sentiment</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of negativeData">
              <td>{{item.username}}</td>
              <td>{{item.comment}}</td>
              <td>{{item.sentiment}}</td>
          </tr>
          
      </tbody>
  </table>
</div>
<br>
<div style="overflow-y: auto;height: 250px;">
  <table >
    <caption>Neutral</caption>
      <thead>
          <tr>
              <th>Username</th>
              <th>Comment</th>
              <th>Sentiment</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of neturalData">
              <td>{{item.username}}</td>
              <td>{{item.comment}}</td>
              <td>{{item.sentiment}}</td>
          </tr>
          
      </tbody>
  </table>
</div>

</div>